# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
.metadata

# IDE
.idea/
.vscode/
*.iml

# Env / secrets
.env
*.keystore
google-services.json
GoogleService-Info.plist
ios/Flutter/flutter_export_environment.sh

# OS
.DS_Store
